<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Write Message</h3>
          <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Name">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="form-control" value="Submit">
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h3>Messages</h3>
          <ul>
            <% results.forEach(function(r) { %>
              <li>
                <div class="panel panel-default">
                  <div class="panel-heading container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <h3 class="panel-title"><%= r.username %></h3>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 message-id">
                        <h3 class="panel-title"><%= r.id %></h3>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <%= r.message %>
                  </div>
                </div>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
